language: java

jdk:
  - openjdk17

dist: jammy

services:
  - mysql

cache:
  directories:
    - $HOME/.m2

before_script:
  - mysql -e 'CREATE DATABASE sprintburg_db;'
  - mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'admin';"
  - mysql -e "FLUSH PRIVILEGES;"
  - chmod +x mvnw

script:
  - ./mvn clean test

notifications:
  email: false
