language: java

jdk:
  - openjdk17

dist: jammy

services:
  - mysql

cache:
  directories:
    - $HOME/.m2

before_script:
  - chmod +x mvnw

  - mysql -u root -e 'CREATE DATABASE sprintburg_db;'
  - mysql -u root -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'admin';"

script:
  - ./mvnw clean test

notifications:
  email: false